{% extends "./admin/private.html" %}

{% block title %}
    Редактор:
{% endblock %}

{% block article %}

<h2>{{title}}</h2>
      <form id="form-category" class="form-input" action="" method="post">
            {{ form.hidden_tag() }}
            <div class="form-fields-block">
                <div class="form-field">
                    <div class="form-field--label">
                        {{ form.name.label(class="field-label") }}
                        <span style="color: red;">*</span>
                    </div>
                    <div class="form-field--input">{{ form.name(class="field-input") }}</div>
                </div>

                <div class="form-field">
                    <div class="form-field--label">{{ form.description.label(class="field-label") }}</div>
                    <div class="form-field--input">{{ form.description(class="field-input", rows=5) }}</div>
                </div>

                <div class="form-field">
                    <div class="form-field--label">
                        {{ form.active.label(class="field-label") }}
                    </div>
                    <div class="form-field--input">{{ form.active(class="checkbox-input") }}</div>
                </div>

                <div class="form-field">
                    {% if available_fields %}
                    <div class="form-field--label">Связанные свойства</div>
                    <div class="form-field--input">
                        {% for field in available_fields %}
                        <label class="form-field--input">
                            <input class="form-field--input checkbox-input" 
                                type="checkbox"
                                name="custom_field"
                                value="{{field.name}}"
                                {% if field in selected_fields %} checked {% endif %}>
                            {{ field.name }}
                        </label>                      
                    {% endfor %}
                    </div>
                    {% endif %}
                </div>
                    
                <div class="form-submits">
                  {{ form.submit_save(class="form-submit submit-green") }}
                  {{ form.submit_cancel(class="form-submit submit-red") }}
                </div>

            </div>
      </form>
{% endblock %}




