{% extends "./admin/private.html" %}

{% block title %}
    Редактор:
{% endblock %}

{% block article %}

<h2>{{title}}</h2>

    <form id="form-promotion" class="form-input" action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-fields-block">
            <div class="form-field">
                <div class="form-field--label">
                    {{ form.name.label(class="field-label") }}
                    <span style="color: red;">*</span>
                </div>
                <div class="form-field--input">{{ form.name(class="field-input") }}</div>
            </div>

            <div class="form-field">
                <div class="form-field--label">{{ form.description.label(class="field-label") }}</div>
                <div class="form-field--input">{{ form.description(class="field-input", rows=5) }}</div>
            </div>

            <div class="form-field">
                <div class="form-field--label">
                    {{ form.start.label(class="field-label") }}
                    <span style="color: red;">*</span>
                </div>
                <div class="form-field--input">{{ form.start(class="date-input") }}</div>
            </div>

            <div class="form-field">
                <div class="form-field--label">
                    {{ form.end.label(class="field-label") }}
                    <span style="color: red;">*</span>
                </div>
                <div class="form-field--input">{{ form.end(class="date-input") }}</div>
            </div>

            <div class="form-submits">
                {{ form.submit_save(class="form-submit submit-green") }}
                {{ form.submit_cancel(class="form-submit submit-red") }}
            </div>
        </div>
        <div class="form-image-block">
            {% if form.image_path.data %}
            <img src="{{ url_for('static', filename='uploads/images/' + form.image_path.data) }}"
                 alt="{{form.image_path.data}}"
                 srcset="{{ url_for('static', filename='uploads/images/' + form.image_path.data) }}">
            {% endif %}
            <div class="form-field">
                {{ form.image_path.label }}
                {{ form.image(class="form-control") }}
            </div>
        </div>
    </form>



{% endblock %}




