:root {
	--wrapper-max: 75rem;
	--wrapper-big: 64rem;
	--wrapper-middle: 50rem;
	--wrapper-small: 25rem;
	--color-btn-hover: rgb(58, 206, 0);
	--color-heads-color: #ff6b00;
	--color-background: #f7f7f7;
	--color-shadow: #000000A0;
}

body {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    background-color: var(--color-background);
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    align-content: space-between;
	container-type: inline-size;
	container-name: body-size;
}

main {
	font-size: 1.125rem;
	flex-grow: 1;
}

h1 {
    font-size: 2.25rem;
    margin-bottom: 1.25em;
}

h2 {
    font-size: 1.75rem;
    
}
h3 {
    font-size: 1.5rem;
}

h1, 
h2,
h3 {
    color: #ff6b00;
    display: block;
}



section {
    margin-top: 2.5em;
}



.container {
    width: 90%;
    max-width: var(--wrapper-max);
    margin: auto;

}

.content + .content {
    margin-top: 1.25em;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    container-type: inline-size;
	container-name: main-container;
}

.shield {
	width: 3em;
	height: 3em;
	position: fixed;
	bottom: 0.375em;
    right: 0.375em;
    perspective: 40rem;	
}

.shield-inner {
	position: relative;
	width: 100%;
	height: auto;
	transition: transform 0.6s;
    transform-style: preserve-3d;
}

.xolod-teplo, .teplo-xolod {
	position: absolute;
    width: 3em;
    height: auto;
    backface-visibility: hidden;
	display: flex;
	justify-content: center;
}

.teplo-xolod {
	transform: rotateY(180deg);
}


.img-style {
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    height: 25rem;
}



/* HEADER */

header.header {
    background: linear-gradient(145deg,
	 rgba(255, 107, 1, 1) 0%, 
	 rgba(255, 107, 0, 1) 65%, 
	 rgba(255, 139, 56, 1) 100%);
    color: white;
	container-type: inline-size;
	container-name: header-container;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.625em 0;
    gap: 1rem;
}

.header-title {
    max-width: var(--wrapper-maiddle);
}

.header-title-label {
    color: white;
    font-size: 1.75rem;
    font-weight: bold;
}

.header-title-text {
    font-size: 1rem;
}

.header-image {
    height: 5.625rem;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.top-menu {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.top-menu--item {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.btn {
    border-radius: 0.625rem;
    padding: 1rem 2.25rem;
    text-align: center;
    max-width: 18.75rem;
    max-height: 1.375rem;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    display: flex;
    gap: 1rem;
	box-shadow: 
	 /* Нижний и правый */
     inset -0.75px -0.5px rgba(0, 0, 0, 0.4),
    /* Верхний и левый */
     inset +0.75px +0.5px rgba(255, 255, 255, 0.4);
}

/* Admin dashboard */
.dashboard {
    width: 90%;
    margin: auto;
    display: flex;
    gap: 2rem;
}

.dashboard article {
    flex-grow: 1;
}

.admin-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 10rem;
}

.admin-menu--item {
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    transition: 0.2s ease-in-out;
}

.admin-menu--item:hover {
    color: #ff6b00;
    transition: 0.2s ease-in-out;
}

.admin-menu--item__active {
    color: #ff6b00;
}

/* CONTENT */

.green-btn {
    color: white;
    background-color: green;
}


.grey-btn {
    color: white;
    background-color: #333;
}



.yandex-map {
    width: 100%;
    height: auto;
    position: relative;
	overflow: hidden;
}

.double-column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2.5rem;
    min-height: 25em;
    container-type: inline-size;
	container-name: double-container;
}

.left-column,
.right-column {
    width: calc(50% - 2.5rem);
    min-width: 18rem;
    height: auto;
    display: flex;
    flex-direction: column;
    
}



.partners {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    gap: 2.5rem;
    container-type: inline-size;
	container-name: partners-container;
}



.contact-block {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    container-type: inline-size;
	container-name: contacts-container;
    justify-content: space-between;
}

.contact-icon {
    height: 40px;
    width: auto;
}


/* FOOTER */

footer {
    background: #333;
    text-align: center;
    padding: 1.25rem 0.625rem;
    font-size: 0.875rem;
    margin-top: 1.25rem;
}

footer,
footer a {
    color: #ccc;
}

/* PRELOADER */

#preloader {
    position: fixed;
    top: 0;
    width: 100%;
	height: 100vh;
    background: #ff6b00;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    gap: 2.5rem;
}
.loader {
    width: 3.75em;
    height: 3.75em;
    border: 0.375rem solid #000;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
	margin: auto;
}

.preloader-img {
    width: 80%;
    max-width: 500px;
    margin: 3.125rem 1.5rem; 
	margin: auto;
}

.preloader-text {
    text-align: center;
	font-size: 2rem;
}


/* 404 */

.page-404 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
	min-height: 400px;

}
.icon {
	font-size: 4rem;
	margin-bottom: 0.5em;
	color: #0072bc;
	width: 300px;
}

.form-login {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-login--field input,
.form-login--field select {
    padding: 0.25rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid gray;
    line-height: 2rem;
}

.form-login--submit {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.form-login--submit input#submit,
 .form-login--submit input#submit_new,
 .form-login--submit input#submit_save{
    padding: 0.25rem 1.25rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: bold;
    display: block;
    color: white;
    background-color: green;
    transition: 0.2s ease-in-out;
    border: none;
    box-shadow:
	 /* Нижний и правый */
     inset -0.75px -0.5px rgba(0, 0, 0, 0.4),
    /* Верхний и левый */
     inset +0.75px +0.5px rgba(255, 255, 255, 0.4);
}

.form-login--submit input#submit:hover,
.form-login--submit input#submit_new:hover,
.form-login--submit input#submit_save:hover {
    background-color: rgb(58, 206, 0);
}

.cat-menu {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.cat-btn {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25em;
    font-size: 1.2rem;
    border: None;
    display: flex;
    align-items: center;
}

dialog, dialog::backdrop {
    opacity: 0;
    scale: 1.05;
    transition-duration: 0.2s;
    transition-behavior: allow-discrete;
    background-color: var(--color-shadow);
    padding: 0;
    margin: auto;
}

dialog[open], dialog[open]::backdrop {
    opacity: 1;
    scale: 1;

    @starting-style {
        opacity: 0;
        scale: 1.05;
    }
}

.modal-window {
    border: none;
    background-color: var(--color-background);
    border-radius: 0.5rem;
    box-shadow: 0px 0px 2rem 0.2rem rgba(0, 0, 0, 0.5);
}

.modal-control {
    display: flex;
    justify-content: end;
    gap: 1rem;
    flex-wrap: wrap;
}

.modal-content {
    margin: 2em;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#form-category .form-login--field input,
#form-category .form-login--field textarea {
    border: 1px solid #aaa;
    border-radius: 0.25rem;
    width: 100%;
    padding: 0.25rem;
}


.form-login--field textarea {
    width: 100%;
}

/* CONTAINER REQUEST */

@container body-size (width < 64rem) {
	
    .shield {
        position: absolute;
        top: 0.375em;
	}
	
}

@container header-container (width < 60rem) {
	
	.header-content {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

@container double-container (width < 60rem) {
	
    .left-column,
    .right-column {
        width: 100%;
    }
    .partners {
        gap: 1.25rem;
    }
    .partner {
        width: auto;
    }
}

@container header-container (width < 50rem) {
		
    .btn {
        width: 75%;
        margin: auto;
        justify-content: center;
        padding: 1rem;
    }
    .header-image {
        width: 75%;
        height: auto;
        margin: auto;
    }
    .header-title {
        margin: 1.25rem 0;
    }
	
}


@container contacts-container (width < 50rem) {
    .btn {
        max-width: 40%;
		flex-grow: 1;
        margin: auto;
        justify-content: flex-start;
        gap: 2.5rem;
    }
}

@container contacts-container (width < 36rem) {
    .btn {
		max-width: 100%;
        width: 90%;
		flex-grow: 0;
    }
}

@container partners-container (width < 25rem) {

    .partner {
        width: 80%;
        display: flex;
        justify-content: center;
    }

     .partner-img {
        width: calc(90% - 2rem);
    }
} 

/*MEDIA REQ */

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media (hover: hover) {
  .btn:hover {
    background-color: var(--color-btn-hover);
    transition: linear 0.1s;
  }
  
  .shield:hover .shield-inner {
    transform: rotateY(180deg);
  }

  .cat-btn:hover {
    background-color: var(--color-heads-color);
    transition: 0.2s ease-in-out;
  }
}