{% extends "./admin/private.html" %}

{% block title %}
    Продукция:
{% endblock %}

{% block article %}
    <div class="cat-menu">
<!--        <a class="cat-btn grey-btn" href="{{ url_for('admin.products', visible=true) }}">Только активные</a>-->
<!--        <a class="cat-btn grey-btn" href="{{ url_for('admin.products', visible=false) }}">Все</a>-->
        <button class="cat-btn grey-btn" type="button" onclick="overlayMenu.showModal()">Добавить</button>
    </div>

    <div class="table">
        <header class="table-header products-header">
            <div class="product-img">Изображение</div>
            <div class="product-name">Наименование</div>
            <div class="product-description">Описание</div>
            <div class="product-category">Категория</div>
            <div class="product-price">Цена</div>
            <div class="cat-status">Наличие</div>
        </header>
    {% for product in products %}
        <a class="table-row products-row" href="{{ url_for('admin.product', name=product.name) }}">
            <div class="product-img">
                {% if product.image_path %}
                <img class="thumb-img"
                     src="{{ url_for('uploaded_file', filename='images/thumbs/' + product.image_path) }}"
                     alt="{{product.image_path}}"
                     srcset="{{ url_for('uploaded_file', filename='images/thumbs/' + product.image_path) }}">
                {% endif %}
            </div>
            <div class="product-name">{{ product.name }}</div>
            <div class="product-description">{{ product.description[:64] if product.description else '---' }}</div>
            <div class="product-category">{{ product.category.name }}</div>
            <div class="product-price">{{ product.price }}</div>
            <div class="cat-status">{{ "✅" if product.visible else "❌" }}</div>
        </a>
    {% endfor %}
    </div>



{% endblock %}

    {% block modal %}

          <h3>Добавление продукта</h3>
          <form id="form-product" class="form-login" action="" method="post" enctype="multipart/form-data" novalidate>
                {{ form.hidden_tag() }}

                <div class="form-field">
                    <div class="form-field--label">
                        {{ form.name.label(class="field-label") }}
                        <span style="color: red;">*</span>
                    </div>
                    <div class="form-field--input">{{ form.name(class="field-input") }}</div>
                </div>

                <div class="form-field">
                    <div class="form-field--label">
                        {{ form.price.label(class="field-label") }}
                        <span style="color: red;">*</span>
                    </div>
                    <div class="form-field--input">{{ form.price(class="field-input") }}</div>
                </div>

                <div class="form-field">
                    <div class="form-field--label">
                        {{ form.visible.label(class="field-label") }}
                    </div>
                    <div class="form-field--input">{{ form.visible(class="checkbox-input") }}</div>
                </div>

                <div class="form-field">
                    <div class="form-field--label">
                        {{ form.brand_id.label(class="field-label") }}
                        <span style="color: red;">*</span>
                    </div>
                    <div class="form-field--input">{{ form.brand_id(class="field-input") }}</div>
                </div>

                <div class="form-field">
                    <div class="form-field--label">
                        {{ form.image_path.label }}
                    </div>
                    <div class="form-field--input">
                        {{ form.image(class="form-control") }}
                    </div>
                </div>

                <div class="form-field">
                    <div class="form-field--label">{{ form.description.label(class="field-label") }}</div>
                    <div class="form-field--input">{{ form.description(class="field-input", rows=3) }}</div>
                </div>

                <div class="form-field">
                    <div class="form-field--label">
                        {{ form.category_id.label(class="field-label") }}
                        <span style="color: red;">*</span>
                    </div>
                    <div class="form-field--input">{{ form.category_id(class="field-input") }}</div>
                </div>

                <div class="form-field">
                    <div class="form-field--label">
                        {{ form.promo_id.label(class="field-label") }}
                    </div>
                    <div class="form-field--input">{{ form.promo_id(class="field-input") }}</div>
                </div>

                <div class="form-submits">{{ form.submit_new(class="form-submit submit-green") }}</div>

          </form>

    {% endblock %}


