{% extends "./shop/shop.html" %}

{% block products %}
    <h1>
        {{ context.cat_name if context.cat_name else 'Все товары'}}
    </h1>

    <div class="pagination pagination-top">
        {% if pagination.has_prev %}
            <a class="form-submit submit-neutral" 
            href="{{ url_for('shop.index', page=pagination.prev_num) }}">
            &laquo; Назад</a>
        {% endif %}
        {% if pagination.has_next %}
            <a class="form-submit submit-neutral" 
            href="{{ url_for('shop.index', page=pagination.next_num) }}">
            Вперед &raquo;</a>
        {% endif %}
    </div>  
    <div class="category-block">
        <div class="home-products">
        {% for product in pagination.items %}
            <div class="home-product-card">
                <a class="home-product" href="{{ url_for('shop.order', category_name=product.category.name, product_name=product.name, back_url=request.full_path)}}">
                    
                    {% if product.promo_id %}
                    <img class="home-product--promo"
                        src="{{ url_for('static', filename='img/pic/promo-mini.png') }}"
                        alt="АКЦИЯ"
                        srcset="{{ url_for('static', filename='img/pic/promo-mini.png') }}">
                    {% endif %}

                    <div class="home-product--name">{{ product.brand.name }}: {{ product.name }}</div>
                    <div class="home-product--image">
                        {% if product.image_path %}
                            {% set product_image = url_for('uploaded_file', filename='images/thumbs/' + product.image_path) %}
                        {% else %}
                            {% set product_image = cat_image %}                                            
                        {% endif %}
                        <img class="home-product--thumb"
                            src="{{ product_image }}"
                            alt="{{product.image_path}}"
                            srcset="{{ product_image }}">
                    </div>
                    <div class="home-product--description">
                        <div class="home-product--price">
                            <div class="home-product-price">
                                {{ "{:,.0f}".format(product.price).replace(',', ' ') if product.price else "-" }} ₽
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="pagination pagination-bottom">
        {% if pagination.has_prev %}
            <a class="form-submit submit-neutral" 
            href="{{ url_for('shop.index', page=pagination.prev_num) }}">
            &laquo; Назад</a>
        {% endif %}
        {% if pagination.has_next %}
            <a class="form-submit submit-neutral" 
            href="{{ url_for('shop.index', page=pagination.next_num) }}">
            Вперед &raquo;</a>
        {% endif %}
    </div>                    

{% endblock %}