{% extends "./public.html" %}

{% block title %}
    Заказ товара
{% endblock %}

{% block content %}
    <section class="main-section">
        <div class="container">
            
            <form class="form_order_container" method="POST" >
                
                <div class="product_detail">
                        
                    
                    {% set product = context.product_fields %}
                    <h1>{{product.brand.data.name}} - {{product.name.data}}</h1>

                    {% if product.image_path.data %}
                        <img class="product-image"
                            src="{{ url_for('uploaded_file', filename='images/' + product.image_path.data) }}"
                            alt="{{product.image_path.data}}"
                            srcset="{{ url_for('uploaded_file', filename='images/' + product.image_path.data) }}">
                    {% endif %}
                    
                    <div class="product_field">
                        <div class="product_field_label field-label">{{ product.price.label }}</div>
                        <div class="product_field_value home-product-price">{{ product.price.data }} ₽</div>
                    </div>
                    <div class="product_field">
                        <div class="product_field_label field-label">{{ product.visible.label }}</div>
                        <div class="product_field_value home-product-price">{{ "Да" if product.visible.data else "Нет" }} </div>
                    </div>
                    {% set custom_fields = context.custom_fields %}
                    {% for name, value in custom_fields.items() %}
                        <div class="product_field" >
                            <div class="product_field_label">{{ name }}</div>
                            <div class="product_field_value home-product-price">{{ value | string if value else '---' }}</div>
                        </div>
                    {% endfor %}
                    <div class="product_description">                                
                        {{ product.description.data }}
                    </div>
                </div>

                <div class="order_detail">
                    <h2>Детали заказа</h2>
                    {{ form.hidden_tag() }} 
                    <div class="order_field">                                    
                        <div class="order_field_label">
                            {{ form.username.label(class="field-label") }}
                            <span style="color: red;">*</span>
                        </div>
                        <div class="order_field_value">{{ form.username(class="field-input", placeholder="Иван Васильевич") }}</div>
                    </div>
                    <div class="order_field">                                    
                        <div class="order_field_label">
                            {{ form.phone.label(class="field-label") }}
                            <span style="color: red;">*</span>
                        </div>
                        <div class="order_field_value">{{ form.phone( class="field-input", placeholder="+7-918-641-64-16") }}</div>
                    </div>
                    <div class="order-field">                                    
                        <div class="order_field_label">{{ form.installation.label(class="field-label") }}</div>
                        <div class="order_field_value">{{ form.installation(class="form-field--checkbox checkbox-input") }}</div>
                    </div>
                    <div class="order-field">                                    
                        <div class="order_field_label">{{ form.delivery.label(class="field-label") }}</div>
                        <div class="order_field_value">{{ form.delivery(class="form-field--checkbox checkbox-input") }}</div>
                    </div>
                    <div class="order_field">                                    
                        <div class="order_field_label">{{ form.address.label(class="field-label") }}</div>
                        <div class="order_field_value">{{ form.address(class="field-input", placeholder="Каневская, улица Герцена, 71") }}</div>
                              
                        <div class="order_field_label">{{ form.usercomment.label(class="field-label") }}</div>
                        <div class="order_field_value">{{ form.usercomment(class="field-input", placeholder="Нужна консультация") }}</div>
                    </div>

                    <div class="order_field order_field_submits">
                        {{ form.submit_send(class="form-submit submit-green") }}
                        {{ form.submit_cancel(class="form-submit submit-red", formnovalidate=True) }}
                    </div>
                </div>
                
            </form>

        </div>
    </section>
{% endblock %}
