{% extends "./public.html" %}

{% block title %}
    Заказ товара
{% endblock %}

{% block content %}

            <section class="main-section">
                <div class="container">
                    <h1>Страница товара {{ product.name.data }}</h1>
                    
                    <form class="form_order_container" action="POST" >
                        {{ form.hidden_tag() }} 
                        <div class="order_detail">
                            {% for field in form if field.type != 'CSRFTokenField' and field.type != 'SubmitField' and field.name != "product_id" %}
                                <div class="order_field">
                                    <div class="order_field_label">{{ field.label }}</div>
                                    <div class="order_field_value">{{ field(size=32) }}</div>
                                </div>
                            {% endfor %}
                            <div class="order_field">
                                <button type="submit">Оформить заказ</button>
                            <button type="submit">Отмена</button>
                            </div>
                        </div>

                        <div class="product_detail">
                            <div class="product_field">
                                <div class="product_field_label">{{ product.name.label }}</div>
                                <div class="product_field_value">{{ product.name.data }}</div>
                            </div>
                            
                            {% for field in product if field.type != 'CSRFTokenField' and field.type != 'SubmitField' %}
                                <p>{{ field.name }} : {{ field.label }} : {{ field.data }}</p>
                            {% endfor %}
                        </div>
                        
                    </form>

                </div>
            </section>
{% endblock %}
