{% extends "header.html" %}

{% block footer %}

		
        <footer class="footer">
            <p>
                © 2025 Технологии сервиса — Ваш комфорт начинается здесь |
                <a href="tel:+79384003373">+7 (938) 400-33-73</a> |
                <a href="tel:+79186416416">+7 (918) 641-64-16</a>
            </p>
			<div class="shield">
				<div class="shield-inner">
				<img class="xolod-teplo"
					src="{{ url_for('static', filename='img/icon/xolod-teplo.png') }}"
					alt="climat-control"
					srcset="{{ url_for('static', filename='img/icon/xolod-teplo.png') }}"
				>
				<img class="teplo-xolod"
					src="{{ url_for('static', filename='img/icon/teplo-xolod.png') }}"
					alt="climat-control"
					srcset="{{ url_for('static', filename='img/icon/teplo-xolod.png') }}"
				>
				</div>
			</div>
        </footer>
		
{% endblock %}