{% extends "layout.html" %}

{% block header %}
        <header class="header">
            <div class="container">
                <div class="header-content content">
                    <a class="header-logo" href="{{ url_for('.index') }}" >
                    <img
                        class="header-image icon-svg"
                        src="{{ url_for('static', filename='img/logo/label.webp') }}"
                        alt="air-conditioner"
                    /></a>
                    <div class="header-title">
                        <p class="header-title-label">Технологии сервиса - Каневская</p>
                        <p class="header-title-text">
                            Широкий ассортимент сплит-систем, обогревателей и другой климатической техники<br> Выгодные цены и профессиональная установка
                        </p>
                    </div>

                    <a class="btn green-btn" href="tel:+79186416416">
                        <img
                            class="contact-icon"
                            src="{{ url_for('static', filename='img/icon/phone-calling.svg') }}"
                            alt="Phone icon-svg"
                            srcset="{{ url_for('static', filename='img/icon/phone-calling.svg') }}"
                        >
                        <div>+7 (918) 641-64-16</div>
                    </a>
                </div>
            </div>
            <nav class="top-nav container">
                <ul class="top-menu">
                    <li><a class="top-menu--item" href="{{ url_for('.index') }}">Главная</a></li>
                    <li><a class="top-menu--item" href="{{ url_for('.index') }}">Каталог</a></li>
                    <li><a class="top-menu--item" href="{{ url_for('.index') }}">О нас</a></li>
                </ul>
            </nav>
        </header>
{% endblock %}