{% extends "footer.html" %}

{% block private %}
    <!-- Form section  -->
    <section class="main-section">
        <div class="container">
          <h1>{{ title }}</h1>
        </div>
        <div class="dashboard container">
            <aside>
                <ul class="admin-menu">
                    <li><a class="admin-menu--item admin-menu--item__active" href="{{ url_for('list_categories') }}">Категории</a></li>
                    <li><a class="admin-menu--item" href="#">Товары</a></li>
                    <li><a class="admin-menu--item" href="#">Услуги</a></li>
                    <li><a class="admin-menu--item" href="/logout">Выход</a></li>
                </ul>
            </aside>
            <article>
                {% block article %}
                {% endblock %}
            </article>
        </div>
    </section>

    <!-- Message section  -->
    <section class="main-section">
        <div class="container">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul>
                  {% for message in messages %}
                    <li>{{ message }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        </div>
    </section>

{% endblock %}

